.timer-title {
    font-family: var(--font-title);
    font-weight: 10000;
    font-size: 2.5rem;
    -webkit-text-stroke: var(--color-base-white) 2px;
    margin-bottom: -15px;
}

.timer-value {
    font-family: var(--font-title);
    font-weight: 10000;
    font-size: 4rem;
    color: var(--color-base-white);
    text-shadow: 5px 5px 0  var(--color-base-black-shadow);
    letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
    .timer-title {
        font-size: 4rem;
        margin-bottom: -30px;
        -webkit-text-stroke: var(--color-base-white) 3px;
    }

    .timer-value {
        font-size: 6.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .timer-title {
        font-size: 2.5rem;
        margin-bottom: -15px;
        -webkit-text-stroke: var(--color-base-white) 2px;
    }

    .timer-value {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1280px) {
    .timer-title {
        font-size: 4rem;
        margin-bottom: -30px;
        -webkit-text-stroke: var(--color-base-white) 3px;
    }

    .timer-value {
        font-size: 6.5rem;
    }
}